@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root{
    --text-clr: #4f4f4f;
}

p{
    color:#6c747d;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
    color: var(--text-clr);
}

a:hover{
    text-decoration: none;
    color:var(--text-clr);
}

h3{
    color:var(--text-clr);
    font-size: 1.5rem;
}
.main_cart{
    background: #fff;
}

.card{
    border:none;
}

.product_img img{
    min-width: 200px;
    max-height: 200px;
}

.product_name{
    color:black;
    text-transform: capitalize;
    font-weight: 500;
}

.card-title p{
    font-size: 0.9rem;
    font-weight: 500;
}

.romove_wish p {
    font-size:0.8rem;
    margin-bottom: 0;
}

.price-money h3{
    font-size: 1rem;
    font-weight: 600;
}

.set_quantity{
    position:relative;
}

.set_quantity::after{
    content:"(Note, 2 piece)";
    width: auto;
    height:auto;
    text-align:center;
    position: absolute;
    font-size:0.7rem;
    bottom: -20px;
    right: 2rem;
}

.page-link{
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#495057;
}

.page-item input{
    line-height: 22px;
    font-size:15px;
    padding:3px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.page-link:hover{
    text-decoration:none;
    color:#495057;
    outline: none !important;
}

.page-link:focus{
    box-shadow: none;
}

.price_indiv p{
    font-size: 1.1rem;
}
.fa-heart:hover{
    color:red;
}

.fa-trash-alt:hover{
    color:red;

}